:root {
  --light-square-color: #ffce9e;
  --dark-square-color: #d08a45;
}

* {
  font-family: 'Nanum Gothic', sans-serif;
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  border-bottom: 1px solid var(--primary);

  grid-template-columns: 320px auto;
}